body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/*global*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul {
  padding: 0;
  margin: 0;
}

.dark {
  padding: 15px;
  background-color: #35424a;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}
/*Header*/
header {
  background: #000000;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #12194d;
}
header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #name {
  float: left;
}
header #name h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 10px;
}
header .highlight {
  color: #e8491d;
}
header a:hover {
  font-weight: bold;
}

/*showcase*/
#showcase {
  min-height: 500px;
  background: url("../images/hi.jpg") no-repeat 0 -200px;
  text-align: center;
  color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#showcase h1 {
  margin-top: 150px;
  color: #9faabf;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p {
  font-size: 20px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #c6ccd8;
}
#touch {
  padding: 30px;
  color: #ffffff;
  background-color: #272d38;
}
#my {
  font-weight: bolder;
  font-size: 15pt;
  text-align: center;
}
#about {
  float: left;
  width: 65%;
}
#academic {
  padding: 50px;
  color: #2b2929;
  background-color: #3e4955;
}
.bsc {
  border: rgb(62, 79, 94) solid 2px;
  width: 60%;
  margin: 5%;
  background-color: rgb(104, 108, 128);
  border-radius: 10px;
  color: #c6ccd8;
  padding: 20px;
  line-height: 5mm;
}

.bsc h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
}

.time {
  color: #6b6f8b;
}
.tim {
  color: #a6aac4;
}
.des {
  margin-left: 20px;
}

.bsc ul {
  margin-left: 60px;
}
/*get in touch*/
button {
  height: 75px;
  width: 300px;
  background: #a67012;
  border: none;
  text-align: center;
  position: relative;
  font-size: 25px;
}
button a {
  text-decoration: none;
  color: #e8e8e8;
  font-weight: bolder;
}

#button1 {
  font-size: 12pt;
  color: #ffffff;
  font-weight: bolder;
  margin-top: 10px;
  height: 30px;
  width: 80px;
  background: #000000;
  border: none;
}
#message {
  height: 150px;
  width: 300px;
  text-align: start;
}

#port li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background-color: #e6e6e6;
}
#about h1 {
  font-size: 20pt;
  color: #12194d;
}
a[target="_blank"]:after {
  font-family: "FontAwesome";
  content: " \f35d";
}
/*boxes*/
#boxes {
  margin-top: 50px;
}
#boxes .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}
#boxes .box img {
  width: 90px;
}

.centering {
  height: 55px;
  position: relative;
  display: flex;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
aside {
  float: right;
  width: 30%;
  padding: 10px;
}

footer {
  padding: 10px;
  margin-top: 100px;
  color: #ffffff;
  background-color: #586070;
  text-align: center;
}

/*mobile device setting*/
@media (max-width: 768px) {
  header #name,
  header nav,
  header nav li,
  #boxes .box,
  article #about,
  aside #sidebar,
  #message,
  #button1,
  #port li {
    float: none;
    text-align: center;
    width: 100%;
  }
  header {
    padding-bottom: 20px;
  }
  #showcase h1 {
    margin-top: 50px;
  }
}
